.centered-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center; /* Optionally center text horizontally */
	width: 20rem;
	padding: 10px;
}

.top-row {
	margin-top: 160px !important;
}

.bottom-row {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-top: 100px !important;
}

.right-aligned-col {
	position: relative;
	left: 250px; /* Adjust the value as needed */
}

.call-to-action {
	margin-top: 200px !important;
	text-align: center;
}

.call-to-action.h2 {
}

.body {
	background-color: aqua !important;
}
