.testLogin {
	width: 30rem;
	justify-content: center;
	padding: 2rem;
	border-radius: 10px;
	margin: auto;
	margin-top: 260px;
}

.mb-3 {
	width: 20rem;
}

.loginInput {
	margin-bottom: 30px;
}

.testTitle.card-title {
	margin-bottom: 48px;
}
